# env files
*.lock

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# pytest
*.pytest_cache/

# data
tests/integration/data/
data/

# qdrant db
tests/integration/vector_db_test/

# torch cache
*.pth

# .sh scripts
scripts/*.sh