version: '3.8'

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"  # LocalStack Gateway
    environment:
      - SERVICES=s3
      - DEFAULT_REGION=us-east-1
      - PERSISTENCE=1
      - DEBUG=1
    volumes:
      - ../data/localstack:/data # Persistent storage
    restart: unless-stopped