services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: unless-stopped
    container_name: qdrant
    ports:
      - 6334:6334
      - 6333:6333
    volumes:
      - ../data/vector_db:/qdrant/storage
      - ./config.yaml:/qdrant/config/production.yaml
