version: '3.8'

services:
  redis: 
    image: redis:8.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ../data/redis:/data
    command: redis-server --bind 0.0.0.0 --protected-mode no # --appendonly yes 
    restart: unless-stopped

